# Traefik Static Configuration
# Ce fichier contient la configuration statique de Traefik

api:
  dashboard: true
  insecure: true

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true

ping:
  entryPoint: "web"

log:
  level: DEBUG

accessLog:
  format: json

entryPoints:
  web:
    address: ":80"

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: app-network
