apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: marketplace

resources:
  - namespace.yaml
  - infrastructure.yaml
  - auth.yaml
  - services.yaml
  - gateway.yaml
  - monitoring.yaml

# Génère les ConfigMaps depuis les fichiers existants
configMapGenerator:
  - name: grafana-dashboards
    files:
      - grafana-dashboards/microservices_dashboard.json

generatorOptions:
  disableNameSuffixHash: true

labels:
  - pairs:
      app.kubernetes.io/part-of: marketplace
      app.kubernetes.io/managed-by: kustomize
    includeSelectors: false
