apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: marketplace

resources:
  - namespace.yaml
  - infrastructure.yaml  # Databases + Kafka + Secrets
  - auth.yaml            # Keycloak
  - services.yaml        # Article Service + Frontend
  - gateway.yaml         # Traefik + Oathkeeper + Ingress
  - monitoring.yaml      # Prometheus + Grafana

labels:
  - pairs:
      app.kubernetes.io/part-of: marketplace
      app.kubernetes.io/managed-by: kustomize
    includeSelectors: false
