apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-realm
  namespace: marketplace
data:
  realm-export.json: |
    {
      "id": "c189a043-a544-4a9f-93cf-14ae44045472",
      "realm": "collector_realms",
      "notBefore": 0,
      "defaultSignatureAlgorithm": "RS256",
      "revokeRefreshToken": true,
      "refreshTokenMaxReuse": 0,
      "accessTokenLifespan": 300,
      "accessTokenLifespanForImplicitFlow": 900,
      "ssoSessionIdleTimeout": 1800,
      "ssoSessionMaxLifespan": 36000,
      "ssoSessionIdleTimeoutRememberMe": 0,
      "ssoSessionMaxLifespanRememberMe": 0,
      "offlineSessionIdleTimeout": 2592000,
      "offlineSessionMaxLifespanEnabled": false,
      "offlineSessionMaxLifespan": 5184000,
      "clientSessionIdleTimeout": 0,
      "clientSessionMaxLifespan": 0,
      "clientOfflineSessionIdleTimeout": 0,
      "clientOfflineSessionMaxLifespan": 0,
      "accessCodeLifespan": 60,
      "accessCodeLifespanUserAction": 300,
      "accessCodeLifespanLogin": 1800,
      "actionTokenGeneratedByAdminLifespan": 43200,
      "actionTokenGeneratedByUserLifespan": 300,
      "oauth2DeviceCodeLifespan": 600,
      "oauth2DevicePollingInterval": 5,
      "enabled": true,
      "sslRequired": "none",
      "registrationAllowed": true,
      "registrationEmailAsUsername": true,
      "rememberMe": true,
      "verifyEmail": false,
      "loginWithEmailAllowed": true,
      "duplicateEmailsAllowed": false,
      "resetPasswordAllowed": true,
      "editUsernameAllowed": false,
      "bruteForceProtected": true,
      "permanentLockout": false,
      "maxFailureWaitSeconds": 900,
      "minimumQuickLoginWaitSeconds": 60,
      "waitIncrementSeconds": 60,
      "quickLoginCheckMilliSeconds": 1000,
      "maxDeltaTimeSeconds": 43200,
      "failureFactor": 30,
      "roles": {
        "realm": [
          {
            "id": "4d01f62c-bf45-4ced-bb2c-2f1ec87e9c14",
            "name": "ROLE_ADMIN",
            "description": "",
            "composite": false,
            "clientRole": false,
            "containerId": "c189a043-a544-4a9f-93cf-14ae44045472",
            "attributes": {}
          },
          {
            "id": "f5bd3e83-2e49-40f3-8ef8-dea1e8a17406",
            "name": "default-roles-collector_realms",
            "description": "${role_default-roles}",
            "composite": true,
            "composites": {
              "client": {
                "account": [
                  "manage-account",
                  "view-profile"
                ]
              }
            },
            "clientRole": false,
            "containerId": "c189a043-a544-4a9f-93cf-14ae44045472",
            "attributes": {}
          },
          {
            "id": "0498587f-5e6b-4ccb-81fe-d403e82615d5",
            "name": "ROLE_USER",
            "description": "",
            "composite": false,
            "clientRole": false,
            "containerId": "c189a043-a544-4a9f-93cf-14ae44045472",
            "attributes": {}
          }
        ],
        "client": {
          "collector": [
            {
              "id": "84bd8708-1275-4de6-b05c-a70a51d807f8",
              "name": "ADMIN",
              "description": "",
              "composite": false,
              "clientRole": true,
              "containerId": "b158b7d7-35a0-415f-bb3c-8b36968d92c0",
              "attributes": {}
            },
            {
              "id": "1df4f8f6-0707-46a5-bc76-1cd14f713f3d",
              "name": "USER",
              "description": "",
              "composite": false,
              "clientRole": true,
              "containerId": "b158b7d7-35a0-415f-bb3c-8b36968d92c0",
              "attributes": {}
            }
          ],
          "collector_front": []
        }
      },
      "groups": [],
      "defaultRole": {
        "id": "f5bd3e83-2e49-40f3-8ef8-dea1e8a17406",
        "name": "default-roles-collector_realms",
        "description": "${role_default-roles}",
        "composite": true,
        "clientRole": false,
        "containerId": "c189a043-a544-4a9f-93cf-14ae44045472"
      },
      "requiredCredentials": ["password"],
      "users": [
        {
          "id": "test-user-001",
          "createdTimestamp": 1700000000000,
          "username": "testuser",
          "enabled": true,
          "totp": false,
          "emailVerified": true,
          "firstName": "Test",
          "lastName": "User",
          "email": "test@example.com",
          "credentials": [
            {
              "type": "password",
              "value": "test123",
              "temporary": false
            }
          ],
          "disableableCredentialTypes": [],
          "requiredActions": [],
          "realmRoles": ["default-roles-collector_realms"],
          "clientRoles": {
            "collector": ["USER"]
          },
          "notBefore": 0,
          "groups": []
        },
        {
          "id": "admin-user-001",
          "createdTimestamp": 1700000000000,
          "username": "admin",
          "enabled": true,
          "totp": false,
          "emailVerified": true,
          "firstName": "Admin",
          "lastName": "User",
          "email": "admin@example.com",
          "credentials": [
            {
              "type": "password",
              "value": "admin123",
              "temporary": false
            }
          ],
          "disableableCredentialTypes": [],
          "requiredActions": [],
          "realmRoles": ["default-roles-collector_realms"],
          "clientRoles": {
            "collector": ["ADMIN"]
          },
          "notBefore": 0,
          "groups": []
        }
      ],
      "clients": [
        {
          "id": "b158b7d7-35a0-415f-bb3c-8b36968d92c0",
          "clientId": "collector",
          "name": "",
          "description": "",
          "rootUrl": "",
          "adminUrl": "",
          "baseUrl": "",
          "surrogateAuthRequired": false,
          "enabled": true,
          "alwaysDisplayInConsole": false,
          "clientAuthenticatorType": "client-secret",
          "secret": "IDH11sNeKIFpDUEcLavTzR0QzYuJpf1G",
          "redirectUris": ["/*"],
          "webOrigins": ["/*"],
          "notBefore": 0,
          "bearerOnly": false,
          "consentRequired": false,
          "standardFlowEnabled": true,
          "implicitFlowEnabled": false,
          "directAccessGrantsEnabled": false,
          "serviceAccountsEnabled": true,
          "publicClient": false,
          "frontchannelLogout": true,
          "protocol": "openid-connect",
          "attributes": {
            "oidc.ciba.grant.enabled": "false",
            "backchannel.logout.session.required": "true",
            "post.logout.redirect.uris": "+",
            "oauth2.device.authorization.grant.enabled": "false",
            "backchannel.logout.revoke.offline.tokens": "false"
          },
          "authenticationFlowBindingOverrides": {},
          "fullScopeAllowed": true,
          "nodeReRegistrationTimeout": -1,
          "defaultClientScopes": ["web-origins", "acr", "roles", "profile", "email"],
          "optionalClientScopes": ["address", "phone", "offline_access", "microprofile-jwt"]
        },
        {
          "id": "25b329fd-f3a1-4b20-8880-4e005cf065ea",
          "clientId": "collector_front",
          "name": "",
          "description": "",
          "rootUrl": "http://localhost:3000",
          "adminUrl": "",
          "baseUrl": "http://localhost:3000",
          "surrogateAuthRequired": false,
          "enabled": true,
          "alwaysDisplayInConsole": false,
          "clientAuthenticatorType": "client-secret",
          "redirectUris": [
            "http://localhost:3000/*",
            "http://localhost:3000/callback",
            "http://localhost:3000/silent-check-sso.html"
          ],
          "webOrigins": [
            "http://localhost:3000"
          ],
          "notBefore": 0,
          "bearerOnly": false,
          "consentRequired": false,
          "standardFlowEnabled": true,
          "implicitFlowEnabled": false,
          "directAccessGrantsEnabled": false,
          "serviceAccountsEnabled": false,
          "publicClient": true,
          "frontchannelLogout": true,
          "protocol": "openid-connect",
          "attributes": {
            "post.logout.redirect.uris": "http://localhost:3000/*",
            "oauth2.device.authorization.grant.enabled": "false",
            "backchannel.logout.revoke.offline.tokens": "false",
            "use.refresh.tokens": "true",
            "oidc.ciba.grant.enabled": "false",
            "backchannel.logout.session.required": "true",
            "client_credentials.use_refresh_token": "false",
            "require.pushed.authorization.requests": "false",
            "tls.client.certificate.bound.access.tokens": "false",
            "display.on.consent.screen": "false",
            "pkce.code.challenge.method": "S256"
          },
          "authenticationFlowBindingOverrides": {},
          "fullScopeAllowed": true,
          "nodeReRegistrationTimeout": -1,
          "defaultClientScopes": ["web-origins", "acr", "roles", "profile", "email"],
          "optionalClientScopes": ["address", "phone", "offline_access", "microprofile-jwt"]
        }
      ],
      "clientScopes": [
        {
          "id": "32386d3d-a3c1-4067-bf56-10509d37a3fc",
          "name": "web-origins",
          "description": "OpenID Connect scope for add allowed web origins to the access token",
          "protocol": "openid-connect",
          "attributes": {
            "include.in.token.scope": "false",
            "display.on.consent.screen": "false"
          },
          "protocolMappers": [
            {
              "id": "ddca3b5f-9489-4a91-acc2-ff6d14b8b395",
              "name": "allowed web origins",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-allowed-origins-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "access.token.claim": "true"
              }
            }
          ]
        },
        {
          "id": "c7a546c6-5516-4ca3-b22d-fb2efdb20bf9",
          "name": "acr",
          "description": "OpenID Connect scope for add acr to the token",
          "protocol": "openid-connect",
          "attributes": {
            "include.in.token.scope": "false",
            "display.on.consent.screen": "false"
          },
          "protocolMappers": [
            {
              "id": "fd6be551-8875-4396-9dca-3b7faebe35ff",
              "name": "acr loa level",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-acr-mapper",
              "consentRequired": false,
              "config": {
                "id.token.claim": "true",
                "introspection.token.claim": "true",
                "access.token.claim": "true",
                "userinfo.token.claim": "true"
              }
            }
          ]
        },
        {
          "id": "08d85b8b-7242-4a37-9003-d8955553edba",
          "name": "roles",
          "description": "OpenID Connect scope for add user roles to the access token",
          "protocol": "openid-connect",
          "attributes": {
            "include.in.token.scope": "false",
            "display.on.consent.screen": "true"
          },
          "protocolMappers": [
            {
              "id": "312e2b59-509c-449f-91cf-18461982856a",
              "name": "audience resolve",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-audience-resolve-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "access.token.claim": "true"
              }
            },
            {
              "id": "131c3b82-d7a0-4948-a2bd-ebc5cd76c581",
              "name": "realm roles",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-realm-role-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "multivalued": "true",
                "access.token.claim": "true",
                "claim.name": "realm_access.roles",
                "jsonType.label": "String"
              }
            },
            {
              "id": "e57bf3d8-5df5-4341-a651-6844aeef5a2a",
              "name": "client roles",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-client-role-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "multivalued": "true",
                "access.token.claim": "true",
                "claim.name": "resource_access.${client_id}.roles",
                "jsonType.label": "String"
              }
            }
          ]
        },
        {
          "id": "30927264-36f2-4772-be79-594d3641b2d8",
          "name": "email",
          "description": "OpenID Connect built-in scope: email",
          "protocol": "openid-connect",
          "attributes": {
            "include.in.token.scope": "true",
            "display.on.consent.screen": "true"
          },
          "protocolMappers": [
            {
              "id": "6540f921-ccc8-4dbf-9ee1-a6eef5cae493",
              "name": "email",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-attribute-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "userinfo.token.claim": "true",
                "user.attribute": "email",
                "id.token.claim": "true",
                "access.token.claim": "true",
                "claim.name": "email",
                "jsonType.label": "String"
              }
            },
            {
              "id": "aeb22f8c-995b-43e1-b0ba-87a4c6ecac66",
              "name": "email verified",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-property-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "userinfo.token.claim": "true",
                "user.attribute": "emailVerified",
                "id.token.claim": "true",
                "access.token.claim": "true",
                "claim.name": "email_verified",
                "jsonType.label": "boolean"
              }
            }
          ]
        },
        {
          "id": "8c20fec5-b2a5-469e-85dd-e4888b8edc8f",
          "name": "profile",
          "description": "OpenID Connect built-in scope: profile",
          "protocol": "openid-connect",
          "attributes": {
            "include.in.token.scope": "true",
            "display.on.consent.screen": "true"
          },
          "protocolMappers": [
            {
              "id": "cae157a2-775c-41a2-bd4c-0b1aa0a31d01",
              "name": "full name",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-full-name-mapper",
              "consentRequired": false,
              "config": {
                "id.token.claim": "true",
                "access.token.claim": "true",
                "introspection.token.claim": "true",
                "userinfo.token.claim": "true"
              }
            },
            {
              "id": "15fed8d0-ef01-4702-9609-b4a7f71f29e4",
              "name": "family name",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-attribute-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "userinfo.token.claim": "true",
                "user.attribute": "lastName",
                "id.token.claim": "true",
                "access.token.claim": "true",
                "claim.name": "family_name",
                "jsonType.label": "String"
              }
            },
            {
              "id": "4158a283-ac5b-476a-800a-947c481b7ae7",
              "name": "given name",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-attribute-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "userinfo.token.claim": "true",
                "user.attribute": "firstName",
                "id.token.claim": "true",
                "access.token.claim": "true",
                "claim.name": "given_name",
                "jsonType.label": "String"
              }
            },
            {
              "id": "e8f083a8-509e-43cc-8f77-64a1bdee7160",
              "name": "username",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-attribute-mapper",
              "consentRequired": false,
              "config": {
                "introspection.token.claim": "true",
                "userinfo.token.claim": "true",
                "user.attribute": "username",
                "id.token.claim": "true",
                "access.token.claim": "true",
                "claim.name": "preferred_username",
                "jsonType.label": "String"
              }
            }
          ]
        }
      ],
      "defaultDefaultClientScopes": ["profile", "email", "roles", "web-origins", "acr"],
      "defaultOptionalClientScopes": ["offline_access", "address", "phone", "microprofile-jwt"],
      "browserSecurityHeaders": {
        "contentSecurityPolicyReportOnly": "",
        "xContentTypeOptions": "nosniff",
        "referrerPolicy": "no-referrer",
        "xRobotsTag": "none",
        "xFrameOptions": "SAMEORIGIN",
        "contentSecurityPolicy": "frame-src 'self'; frame-ancestors 'self'; object-src 'none';",
        "xXSSProtection": "1; mode=block",
        "strictTransportSecurity": "max-age=31536000; includeSubDomains"
      },
      "eventsEnabled": true,
      "eventsListeners": ["jboss-logging"],
      "enabledEventTypes": ["REGISTER", "UPDATE_PROFILE", "DELETE_ACCOUNT", "LOGIN", "LOGOUT"],
      "adminEventsEnabled": true,
      "adminEventsDetailsEnabled": true,
      "attributes": {
        "frontendUrl": "http://localhost:8080",
        "cibaBackchannelTokenDeliveryMode": "poll",
        "cibaAuthRequestedUserHint": "login_hint",
        "oauth2DevicePollingInterval": "5",
        "cibaInterval": "5",
        "cibaExpiresIn": "120",
        "oauth2DeviceCodeLifespan": "600",
        "parRequestUriLifespan": "60"
      },
      "keycloakVersion": "23.0.7",
      "userManagedAccessAllowed": false
    }
