apiVersion: v1
kind: ConfigMap
metadata:
  name: oathkeeper-config
  namespace: marketplace
data:
  config.yaml: |
    serve:
      proxy:
        port: 4455
      api:
        port: 4456

    log:
      level: debug
      format: json

    errors:
      fallback:
        - json
      handlers:
        json:
          enabled: true
          config:
            verbose: true

    access_rules:
      repositories:
        - file:///etc/oathkeeper/rules.yaml

    authenticators:
      oauth2_introspection:
        enabled: true
        config:
          introspection_url: http://keycloak:8080/realms/collector_realms/protocol/openid-connect/token/introspect
          scope_strategy: none
          introspection_request_headers:
            content-type: application/x-www-form-urlencoded
            authorization: Basic Y29sbGVjdG9yOklESDExc05lS0lGcERVRWNMYXZUelIwUXpZdUpwZjFH
          token_from:
            header: Authorization
          retry:
            max_delay: 500ms
            give_up_after: 2s

      bearer_token:
        enabled: false

      anonymous:
        enabled: true
        config:
          subject: anonymous

      noop:
        enabled: true

    authorizers:
      allow:
        enabled: true

    mutators:
      hydrator:
        enabled: false

      header:
        enabled: true
        config:
          headers:
            Authorization: "{{ .MatchContext.Header.Get \"Authorization\" }}"

      noop:
        enabled: true

  rules.yaml: |
    - id: article-service-protected
      match:
        url: <http|https>://<.*>/api/articles<.*>
        methods:
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
      authenticators:
        - handler: oauth2_introspection
      authorizer:
        handler: allow
      mutators:
        - handler: header

    - id: media-service-protected
      match:
        url: <http|https>://<.*>/api/media<.*>
        methods:
          - POST
          - OPTIONS
      authenticators:
        - handler: oauth2_introspection
      authorizer:
        handler: allow
      mutators:
        - handler: header
