apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: marketplace
  labels:
    app: frontend
spec:
  ports:
    - port: 3000
      targetPort: 3000
  selector:
    app: frontend
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: marketplace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: frontend:prod
          imagePullPolicy: Never  # Utilise l'image locale (minikube docker-env)
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: frontend-config
          env:
            - name: NODE_ENV
              value: "production"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
